@charset"UTF-8";
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  margin: 0;
}
img {
  max-width: 100%;
}
body {
  font-family: "Noto Sans JP";
  margin: 0;
}

// header
#header {
  z-index: 1100;
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
}
.logo {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 0 0 21px;
  img {
    height: 33px;
    align-items: center;
  }
  p {
    font-weight: 900;
    font-size: 1.4rem;
    margin-left: 16px;
  }
  .strong {
    font-size: 18px;
  }
}
.pc-nav p span {
  font-size: 1.8rem;
  font-weight: 900;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  margin: 0;
  padding: 0 ;
  text-decoration: none;
}

.nav-menu {
  height: 70px;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}
.nav {
  display: flex;
  align-items: center;
  font-weight: 700;
  margin: 0;
  & li {
    position: relative;
  }
  & .has-sub a:hover {
    background: #D4f1f8
  }
  & .has-sub a {
    display: flex;
    align-items: center;
    font-size: 16px;
    color:#000;
    padding: 0 15px ;
    transition: 0.3s;
    height: 70px;
  }
  & .has-sub-single a:hover {
    background: #D4f1f8
  }
  & .has-sub-single a {
    display: flex;
    align-items: center;
    font-size: 16px;
    color:#000;
    padding: 0 15px ;
    transition: 0.3s;
    height: 70px;
  }
}


.sub {
  display: none;
  position: absolute;
  white-space: nowrap;
  left: 0;
  & .sub-a a {
    font-size: 15px;
    font-weight: normal;
    color: #000;
    background-color: #e9f8f3;
    padding: 15px 60px 15px 15px;
    position: relative;
    height: auto;
  }
  & .sub-a a:hover {
    background: #fff;
    color: #2189a0;
  }
}

.nav-menusp {
  background-color: #2498b3; 
  & a {
    color: #fff;
    background-color: #2498b3;
    display: block;
    line-height: 70px;
    padding: 0 15px;
    font-size: 1.6rem;
  }
}

//top-head
.main {
  padding-top: 70px;
}
.TopHead {
  overflow: hidden;
  background: transparent url(../images/bg-hero3.webp) center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 650px;
  position: relative;
  width: 100%;
  &-layer1 {
    display: flex;
    align-items: flex-start;
    padding-top: 80px;
    background: transparent url(../images/bg-hero1.webp) center center no-repeat;
    justify-content: center;
    z-index: 200;
  }
  &-layer2 {
    background: transparent url(../images/bg-hero2.webp) center center no-repeat;
    z-index: 100;
  }
  &-layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
 
  
  &_Body {
    background-color: #fff;
    max-width: 530px;
    border-radius: 10px;
    padding: 43px 40px 19px 40px;
    text-align: center;
  }
  &_Body p {
    font-weight: 700;
    line-height: 1.7;
    margin: 1.3em 0 0.5em;
    font-size: 1.6rem;
  }
  &-title {
    margin-top: 0;
  }
  &-title img {
    width: 280px; 
    height: auto;
  }
}
.sec { 
  // height: 102px;
  padding: 64px 0;
  background: #000000;
  z-index: 1000;
  position: relative;
}
.wrap-contents {
  margin: 0 50px;
  width: 229px;
}
img {
  vertical-align: middle;
}
 .TopHead-btn a {
  color: #fff;
  border-radius: 4px;
  padding: 24px 37px;
  font-size: 1.8rem;
  background-color: #2498b3;
  border: #2498b3;
  color: #fff;
  display: inline-block;
  line-height: 1;
  }

.TopHead-btn {
  display: inline-block;
  line-height: 1;
  
}
.wrap {
  margin-top: -263px;
  display: flex;
  justify-content: center;
  & .title {
    text-align: center;
  }

}
.title .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 230px;
  margin: 0 auto;
  color: #000000;
  border: solid 6px;
  border-radius: 50%;
  background: #fff;  font-size: 100%;
  font-weight: 400;
}
.title p {
  margin: 0.2em 0 0 0;
  font-weight: 700;
  font-size: 2.4rem;
  color: #fff;
}
i {
  -webkit-text-stroke: 3px #fff;
}
.contents-body {
  font-weight: 700;
  margin: 0.5em 0 0 0;
  line-height: 1.7;
  justify-content: center;
  color: #fff;
  font-size: 1.6rem;
}
// ㍶では表示しないもの

.js-btn {
  display: none;
}
.sp-nav {
  display: none;
}


@media (max-width: 1280px) {
  .pc-nav {
    display: none;
 }
}


// タブレット
@media (max-width: 1200px) {
    .main {
      padding-top: 50px;
    }
    .nav-menu {
      display: none;
      position: absolute;
      top: 50px;
      width: 100%;
    }
    .nav-menu.open {
      display: block; 
    }
    
    .logo {
      height: 30px;
      padding: 0;
      img {
        width: 140px;
      }
      & >logo-a {
        height: 30px;
      }
    }
    .logo-title {
      margin: 10px;
    }
    .nav {
      display: none;
      flex-direction: column;
      position: fixed;
      top: 50px;
      left: 0;
      margin: 0;
      padding: 0;
      right: 0;
      background-color: #fff;
      color: #efefef;
      
    }

    // // プラスマイナスのアイコン
    .has-sub {
      position: relative;
    }

    .has-sub > a::before {
      display: block;
      content: "";
      position: absolute;
      top: 22px;
      right: 13px;
      width: 24px;
      height: 2px;
      margin-top: -1px;
      background-color: #121212;
      z-index: 9; 
    }

    .has-sub > a::after {
      display: block;
      content: "";
      position: absolute;
      top: 10px;
      right: 24px;
      height: 24px;
      width: 2px;
      // margin-top: 12px;
      background-color: #121212;
    }


    .has-sub {	
      width: 100%;	
      // transition: 0.3s; 
    }
    .nav .has-sub a {
      padding: 10px;
      height: auto;
      display: block;
    }
    .nav .has-sub a:hover {
      background: #f3fafb;
      // transition: 0.1s;
    }

    .nav .has-sub:hover a::after {
    visibility: hidden;
    }
    .has-sub-single {	
      width: 100%;	
      // transition: 0.3s; 
    }
    .nav .has-sub-single a {
      padding: 10px;
      height: auto;
      display: block;
    }
    .nav .has-sub-single a:hover {
      background: #f3fafb;
      // transition: 0.1s;
    }

    .sub {
      position: static;
      top: 70px;
      left: 0%;
      z-index: 1000;
    }
    .nav .sub-a a {
      padding: 10px 10px 10px 25px;
    }
    .sub .sub-a a {
      background:  #fff;
    }
    .sub .sub-a a:hover {
      background: #f3fafb;
      color: #121212;

      // transition: 0.1s;
    }

    .nav-menusp {
      display: none;
    }

    /**************** ハンバーガーボタンのスタイリング ****************/
    .js-btn {
      // background-color: #efefef;
      color: #fff;
      position: absolute;
      display: flex;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      display: block;
    }
    // .js-btn.open {
    //   background-color: #efefef;
    //   color: #fff;
    //   position: absolute;
    //   display: flex;
    //   top: 0;
    //   right: 0;
    //   width: 50px;
    //   height: 50px;
    //   display: block;
    // }
    .js-btn.open {
      background-color: #2498b3;
      transition: 0.5s;
    }
    // .js-btn {
    //   background-color: #2498b3;
    //   transition: 0.5s;
    // }
    /***** 真ん中のバーガー線 *****/
    .btn-line {
      position: absolute;
      top: 50%;
      left: 14px;
      display: block;
      width: 23px;
      height: 2px;
      background-color: #2498b3;
      transform: translateY(-50%);
    }
    // .btn-line.open {
    //   position: absolute;
    //   top: 50%;
    //   left: 14px;
    //   display: block;
    //   width: 23px;
    //   height: 2px;
    //   background-color: #2498b3;
    //   transform: translateY(-50%);
    // }
    /***** 上下のバーガー線 *****/
    .btn-line::before , .btn-line::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #2498b3;
      transition: 0.2s;
    }
    // .btn-line.open::before , .btn-line.open::after {
    //   content: '';
    //   display: block;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 2px;
    //   background-color: #2498b3;
    //   transition: 0.2s;
    // }
    .btn-line::before {
      /* 上の線の位置 */
      transform: translateY(-9px);
    }
    // .btn-line.open::before {
    //   /* 上の線の位置 */
    // 	transform: translateY(-9px);
    // }
    .btn-line::after {
      /* 下の線の位置 */
      transform: translateY(9px);
    }
    // .btn-line.open::after {
    //   /* 下の線の位置 */
    // 	transform: translateY(9px);
    // }
    /***** メニューオープン時 *****/
    .btn-line.open {
      /* 真ん中の線を透明に */
      background-color: transparent;

    }
    // .btn-line {
    //   /* 真ん中の線を透明に */
    // 	background-color: transparent;

    // }
    .btn-line.open::before , .btn-line.open::after {
      content: "";
      background-color: #fff;
      transition: .1s;
    }
    // .btn-line::before , .btn-line::after {
    // 	content: "";
    // 	background-color: #fff;
    // 	transition: .1s;
    // }
    .btn-line.open::before {
      /* 上の線を傾ける */
      transform: rotate(-45deg);
    }
    .btn-line.open::after {
      /* 上の線を傾ける */
      transform: rotate(-135deg);
    }
    // .btn-line::before {
    // 	/* 上の線を傾ける */
    // 	transform: rotate(-45deg);
    // }
    // .btn-line::after {
    //   /* 上の線を傾ける */
    // 	transform: rotate(-135deg);
    // }
}
 
  
  // スマホ
@media (max-width: 767px) {
 
  .TopHead {
    height: 300px;
    padding-bottom: 320px;
    background-position: center -25px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
    
  }
  .TopHead-layer1 {
    background-size: cover;
    background-size: cover;
    align-items: flex-end;
    background-position: center -30px;
  }
  .TopHead-layer2 {
    transform: translate3d(0px, 0px, 0px);
    background-position: center -25px;
    z-index: 100;
    background-size: cover;
  }
  .TopHead-layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .TopHead_Body {
    width: 100%;
    max-width: 100%;
    padding: 9px 0 13px;
    border-radius: 0;
    background: #fff;
    text-align: center;
    font-weight: normal;
    & .TopHead-btn >a {
      padding: 12px 18px;
      font-size: 16px;
      margin: 0 auto;
      display: inline-block;
      line-height: 1;
    }
    & p {
      font-size: 1.3rem;
    }
  }
  .TopHead-title {
    display: none;
  }
  .wrap {
    margin-top: 0;
    flex-direction: column;
  }
  .sec {
    height: auto;
    padding: 64px;
  }
  .TopHead_Body p {
    margin: 0.5em  0;
  }
  .contents-item {
    margin-bottom: 40px;
  }
  .wrap-contents {
    // margin: 0;
    width: 0;
}
.TopHead_Body .TopHead-btn a {
  transition-duration: 0.5s
}

}


@media (max-width: 1078px) {
    .wrap-wide {
      margin: 0 auto;
      max-width: 1078px;
    }
    .wrap-contents {
      margin: 0 2%;
      width: 29.33%;
  }
  }


  @media (max-width: 767px) and (max-width: 1078px) {
    .wrap-contents {
      margin: auto;
      width: auto;
    }
    }

   @media (min-width: 767px) {
    .TopHead_Body .TopHead-btn a {
      transition-duration: 0.5s
    }
   }
  
